.HeaderBox {
  width: 80%;
  height: 60px;
  background-color: rgb(67, 67, 67);
  border-radius: 10px;
  border-width: 10px;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.ContentBox {
  width: 80%;
  flex-direction: column;

  background-color: rgb(67, 67, 67);
  border-radius: 10px;
  border-width: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  margin-top: 2%;
}

.HeaderText {
  color: whitesmoke;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.ContentText {
  color: whitesmoke;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
}
